* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

body {
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  overflow: hidden;
  height: 100%; }

@media (orientation: landscape) and (max-width: 680px) {
  body {
    overflow: visible;
    padding: 150px 0; } }

a {
  text-decoration: none;
  color: #000000; }

@media only screen and (min-width: 450px) {
  a {
    font-size: 1em; } }

h1 {
  font-size: 2em; }

@media only screen and (min-width: 450px) {
  h1 {
    font-size: 2em; } }

h2 {
  color: #AAB5AD;
  font-size: .8em;
  font-weight: lighter; }

.wraper-container {
  display: flex;
  height: 100vh;
   margin: -40px}

@media only screen and (min-width: 450px) {
  .wraper-container {
    align-items: center;
    justify-content: center;
  opacity: 0.8;
 }
 }

.container {
  background-color: #F7F4F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 12px rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 1.5s;
  height: 100vh;
  width: 100vw; }

@media only screen and (min-width: 450px) {
  .container {
    width: 400px;
    height: 550px;
    border-radius: 21px; } }

.nav {
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  background: #F6F4F4;
  box-shadow: inset -4px -4px 12px rgba(199, 199, 199, 0.25);
  border-radius: 21px 21px 0px 0px; }
  .nav__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 4% 16% 0 16%; }
  .nav__item--active {
    color: #000000;
    font-weight: 600;
    padding-bottom: 4%;
    border-bottom: 2px solid #74ebd5;
    transform: translateY(1px); }

main {
  display: flex;
  flex-direction: column; }

.current-date {
  text-align: center;
  padding: 15% 0 10% 0; }

.calendar {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.9), 4px 4px 8px rgba(209, 205, 199, 0.5);
  border-radius: 25px; }
  .calendar__current-month {
    color: #424242;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 5px; }
  .calendar__dates {
    align-self: center; }
    .calendar__dates > table > tr > td {
      padding: 5px 9px;
      font-size: 12px;
      line-height: 20px;
      text-align: center; }
    .calendar__dates--highlight-day {
      color: white;
      background: #74EBD5;
      border: 1px solid #6FFFE4;
      border-radius: 50%;
      box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.7), 2px 2px 8px rgba(116, 235, 213, 0.63); }

      #myVideo {
        left: 50%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
      }

      .footer{
          position: fixed;
          color: rgb(255, 255, 255);
          text-align: center;
          margin-top: -20px;
          height: 40px;
          width: 100%;
          }